<div>
    <div>
        <h1>Chat</h1>
    </div>
    <form id="chat-form">
    <label>Ingrese su mensaje</label>
    <input type="text" name="chat-input" id="chat-input">
    <button type="submit">Enviar</button>
    </form>

    <div id="chat-container">
        <ul id="chat-messages"></ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>