<div>
    <ul class="list-group">
    {{#each products}}
        <li class="list-group-item">Nombre: {{this.title}} || Descripción: {{this.description}} || Precio: {{this.price}}</li>
    {{/each}}
    </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>