<div>
    <h1>Login</h1>
    <br id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password" type="password">
        <input type="submit">
        
    </form>
    <br>
    <a href="/forgot-password">
        <button>Restablecer constraseña</button>
    </a>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <p><a href="/api/sessions/github">Entrar con GitHub</a></p>
</div>

<script src="/js/login.js"></script>