<div>
    <h1>Panel de usuarios</h1>
    <form id="userForm">
        <label>ID</label>
        <input name="id" id="id">
        <br/>

        <input type="submit">
        
    </form>
    <br>

</div>

<script src="/js/getUser.js"></script>