<div>
    <h1>Panel de usuarios</h1>
    <form id="userForm">
        <label>ID</label>
        <input name="id" id="id">
        <br>
        <br>
        <input type="submit" class="btn btn-warning">
        
    </form>
    <br>
    <a href="/" class="btn btn-primary">Volver</a>

    <br>

</div>

<script src="/js/getUser.js"></script>